.icon_button {
    width: 32;
    height: 32;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255);
    border-radius: 40px;
}

.text_button {
    padding: 4px;

    &_title {
        font-size: 14;
        font-weight: 700;
        color: #2e81cd;
    }

}