.container {
    flex: 1;
}

.header {
    padding: 0 4px;
    background-color: transparent;
    margin-bottom: 1;
}

.header_text {
    font-size: 24;
    font-weight: 600;
    margin-left: 8;
    margin-bottom: 8;
}

.list {
    flex: 1;
    width: 100%;
    padding: 0 4px;
}